$breakpoint-lg: 1400px;
$breakpoint-md: 600px;
$breakpoint-md-down: $breakpoint-md - 1px;
$breakpoint-sm: 400px;
$breakpoint-sm-down: $breakpoint-sm - 1px;
$breakpoint-intro: 750px;
$breakpoint-menu: 600px;
$breakpoint-menu-down: $breakpoint-menu - 1px;
