<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" href="favicon.png" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Handlee&family=Itim&display=swap" rel="stylesheet">

  {{ $sass := resources.Get "sass/main.scss" }}
  {{ $style := $sass | resources.ToCSS }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}">

  {{ $built := resources.Get "scripts/main.js" }}
  <script type="text/javascript" src="{{ $built.RelPermalink }}" defer></script>

  <title>{{ .Site.Title }}</title>
</head>
<body class={{ .Title }}>
  <div class="container">
    <div class="side">
      {{ partial "title" }}
      {{ partial "menu" }}
    </div>

    <div class="content">
      {{ block "main" . }}
        {{ .Content }}
      {{ end }}
    </div>

    {{ partial "footer" . }}
  </div>
</body>
</html>

