<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="description" content="Local ATL sustainable landscapers, experts in permaculture design, native plants, stone work & water management. Creating timeless outdoor spaces.">

  <link rel="icon" href="/favicon.png" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Handlee&family=Itim&display=swap" rel="stylesheet">

  {{ $sass := resources.Get "sass/main.scss" }}
  {{ $style := $sass | css.Sass }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}">

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-3CBM93EQHG">
  </script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-3CBM93EQHG');
  </script>

  {{ $built := resources.Get "scripts/main.js" }}
  <script type="text/javascript" src="{{ $built.RelPermalink }}" defer></script>

  <title>{{ .Site.Title }}</title>
</head>
<body class={{ .Title }}>
  <div class="container">
    <div class="side">
      {{ partial "title" }}
      {{ partial "menu" }}
    </div>

    <div class="content">
      {{ block "main" . }}
        {{ .Content }}
      {{ end }}
    </div>

    {{ partial "footer" . }}
  </div>
</body>
</html>

