{{ define "main" }}
  <img src="/img/hero.jpg" class="hero" alt="">
  <div class="about">
    {{ .Content }}
  </div>

  <div class="how-it-works">

    <a href="/book/" class="book">Book 1-hour consultation</a>

    <h2>How it works</h2>
    <div class="grid">
      <div class="section">
        <span class="number">
          1
        </span>
        <p>
          Book a $125 Consultation that lasts one hour <br>
          (Thursday through Saturday)
        </p>
      </div>

            <img class="image" src="/img/consult.jpg" alt="">

      <div class="section">
        <span class="number">
          2
        </span>
        <p>
          You will receive a personalized design for the proposed projects within approximately one week.
        </p>
      </div>

            <img class="image" src="/img/design.jpg" alt="">

      <div class="section">
        <span class="number">
          3
        </span>
        <p>
          The $125 consultation fee goes towards the total project cost if you schedule within 30 days.
        </p>
      </div>


    </div>

    <a href="/book/" class="book">Book 1-hour consultation</a>

  </div>


  {{ partial "instagram" . }}

{{ end }}
