{{ define "main" }}
  <img src="/img/hero.jpg" class="hero" alt="">
  <div class="about">
    {{ .Content }}
  </div>

  <div class="how-it-works">

    <a href="/book/" class="book">Book 1-hour consultation</a>

    <h2>How it works</h2>

    <div class="hiw-list">
      {{ range $index, $item := .Params.how_it_works }}
        <div class="hiw-item">
          <div class="hiw-text">
            <span class="number">
              {{ math.Add $index 1 }}
            </span>
            <p>
              {{ $item.description }}
            </p>
          </div>
          {{ with $item.image }}
           <img class="image" src={{ . }} alt="">
          {{ end }}
        </div>
      {{ end }}
    </div>

    <a href="/book/" class="book">Book 1-hour consultation</a>

  </div>

  {{ partial "services-list" . }}

  {{ partial "instagram" . }}

{{ end }}
